body {
    font-family: "Open Sans", sans-serif;
    color: #313843;
}

a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: .1em;
    color: #313843;
}

a:hover {
    text-decoration: none;
/*    color: #000;*/
}

h1, h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
	letter-spacing: .1em;
	word-spacing: .2em;
    color: #313843;
}

p, ul {
	font-family: "Open Sans", sans-serif;
}

p {
    line-height: 1.8em;
}




/*******************/
/*** side navbar ***/
/*******************/

.nav-text a {
    color: #fff;
    font-size: .7em;
}

.nav-text a:hover {
    text-decoration: none;
    color: #fff;
}

.nav-text a:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: width .2s ease-in-out;
}

.nav-text a:hover:after {
    opacity: 1;
    width: 60px;
}

.sidenav {
    width: 7em;
    height: 100vh;
    position:fixed;
    background-color: #000;
    z-index: 9999;
}

.sidenav .container {
    height: 100%;
    position: relative;
}

.logo {
    padding-top: 3em;
    padding-bottom: 5em;
}

.nav-space {
    margin-top: 2em;
}

.contact {
    width: 100%;
    position: absolute;
    bottom: 3em;
}

.contact a {
    color: #fff;
    font-size: 1.2em;
    margin-top: 2em;
}

.contact a:hover {
    text-decoration: none;
    color: #fff;
}

.contact a:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: width .2s ease-in-out;
}

.contact a:hover:after {
    opacity: 1;
    width: 30px;
}

.back {
    padding-top: 3em;
    padding-bottom: 5em;
}

.back a {
    color: #fff;
    font-size: 1.5em;
    transition: all .2s ease-in-out;
}

.back a:hover {
    text-decoration: none;
    color: #fff;
    transform: scale(1.2);
}







/*
.name {
	font-family: "Montserrat", sans-serif;
	font-size: 1em;
}

.nav-up {
	background-color: #f3f3f3;
}
*/

/***********************/
/*** welcome section ***/
/***********************/

.intro {
    height: 100vh;
}

#homepage-container {
    position: relative;
    width: 100%;
}

.img-comp-img {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.img-comp-img img {
  display:block;
  vertical-align:middle;
}


/***********************/
/*** project section ***/
/***********************/

.project {
    height: 100vh;
}

.horizontal-project {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow-x: auto; 
    overflow-y: hidden;
    white-space: nowrap;
    padding-top: 23vh;
    padding-left: 7em;
}

.project-container {
    width: 20em;
    border-radius: 15px;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.3);
    margin-left: 3em;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.project-container:first-child {
    margin-left: 0em;
}

.project-container:last-child {
    margin-right: 7em;
}

.project-container:hover {
    transform: scale(1.1);
}

.copyright {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}






/*
.footer-icons {
    font-size: 1.3em;
}

.footer-icons a {
    margin-left: 1em;
}
*/





/**************************/
/*** project main frame ***/
/**************************/

.project-img {
	height: auto;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.container-fluid .row {
    margin: 0;
    padding: 0;
}

.container-fluid .col-md-12 {
    margin: 0;
    padding: 0;
}

.project-section {
	position: relative;
	padding-bottom: 6em;
}

.title-space {
	padding-top: 5em;
	padding-bottom: 5em;
}

.tiny-space1 {
	margin-top: 3em;
}

.tiny-space2 {
	margin-bottom: .8em;
}

.text-align {
	text-align: justify;
}

.section-divider {
	margin-top: 5em;
	border-bottom: solid 1px #313843;
}

.title-pic {
    padding-bottom: 5em;
}



.pic-space {
	margin-top: 1em;
}

.pic-shadow {
    box-shadow: 0 5px 20px 0 #d8d8d8;
}

.pic-bottom-space {
	margin-bottom: 1em;
}



.problem-style {
    background-color: #f2f2f2;
    padding-top: 3em;
    padding-bottom: 3em;
}

.problem-text1 {
    text-align: center;
}

.problem-text2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
	letter-spacing: .03em;
	word-spacing: normal;
    line-height: 1.5em;
    color: #313843;
    text-align: center;
}

.bottom-nav a div {
    transition: all .2s ease-in-out;
}

.bottom-nav a:hover {
    text-decoration: none;
    color: #313843;
}

.bottom-nav a:hover div {
    transform: scale(1.4);
}

.bottom-nav-space {padding-top: 6em;}

.back2top-btn {
	position: fixed;
	right: 2em;
	bottom: 3em;
	display: none;
}

.back2top-btn a {
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.back2top-btn a:hover {
    text-decoration: none;
    color: #313843;
    transform: scale(1.3);
}


/*** about ***/

.about {
	position: relative;
	padding-top: 8em;
	padding-bottom: 8em;
}

.contact-icons {font-size: 2.5em;}


