a, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	color: #313843;
}

a {
	letter-spacing: .2em;
}

a:hover {
	text-decoration: none;
	color: #87d1e8;
}

h1, h2, h3, h4, h5, ul {
	letter-spacing: .05em;
	word-spacing: .2em;
}

p, h5 {
	font-family: "Open Sans", sans-serif;
}

footer {
	position: relative;
	padding-top: 2em;
	padding-bottom: 2em;
}

.Montserrat-light {
	font-weight: 300;
}

.OpenSans-bold {
	font-weight: 700;
}

/* navigation */

.nav-up {
	background-color: #f3f3f3;
}

.logo-yujia {
	font-family: "Lobster", sans-serif;
	font-size: 1.2em;
	letter-spacing: .2em;
	word-spacing: .4em;
	color: #006989;
}

/* side navigation */

.dotstyle {display: none;}

.dotstyle ul {
	position: fixed;
	right: 2.5em;
	top: 35%;
	list-style: none;
}

.dotstyle li {
	margin: 1em 0;
}

.dotstyle a {
	position: relative;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	border: .1em solid;
	display: block;
}

.dotstyle span {
	position: absolute;
	top: -40%;
	left: -10em;
	visibility: hidden;
	color: #fff;
	width: 9em;
	height: 1.5em;
	border-radius: 1em;
	text-align: center;
}

.fittingeasy-side {
	border: .1em solid #1f8aef;
	background-color: rgba(31, 138, 239, 0.7); 
}

.wehome-side {
	border: .1em solid #4a90e2;
	background-color: rgba(74, 144, 226, 0.7);
}

.dotstyle a:hover {
	width: 1em;
	height: 1em;
	border-radius: 50%;
	border: .1em solid #fff;
	background-color: #fff;
}

.dotstyle a:hover span {
	visibility: visible;
}

.is-active {
	background-color: #fff;
}

/* footer */

.footer-icons {font-size: 2em;}

/* project */

.project-section {
	position: relative;
	/*padding-top: 2em;*/
	padding-bottom: 6em;
}

/* bottom-nav */

.bottom-nav-space {padding-top: 6em;}

.back2top-btn {
	position: fixed;
	right: 2em;
	bottom: 3em;
	display: none;
}

.back2top-btn a{
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}






/*** project main frame ***/
.title-space {
	padding-top: 5em;
	padding-bottom: 5em;
}

.tiny-space1 {
	margin-top: 3em;
}

.tiny-space2 {
	margin-bottom: .8em;
}

.text-align {
	text-align: justify;
}






.section-divider {
	margin-top: 5em;
	border-bottom: solid 1px #313843;
}




