a, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	color: #313843;
}

a {
	letter-spacing: .1em;
}

a:hover {
	text-decoration: none;
	color: #87d1e8;
}

h1, h2, h3, h4, h5, ul {
	letter-spacing: .05em;
	word-spacing: .2em;
}

p, h5 {
	font-family: "Open Sans", sans-serif;
}

footer {
	position: relative;
	padding-top: 2em;
	padding-bottom: 2em;
}

.Montserrat-light {
	font-weight: 300;
}

.OpenSans-bold {
	font-weight: 700;
}

/* navigation */

.nav-up {
	background-color: #f3f3f3;
}

.logo-yujia {
	font-family: "Lobster", sans-serif;
	font-size: 1.2em;
	letter-spacing: .2em;
	color: #006989;
}


/* footer */

.footer-icons {font-size: 2em;}

/* project */

.project-section {
	position: relative;
	/*padding-top: 2em;*/
	padding-bottom: 6em;
}

/* bottom-nav */

.bottom-nav-space {padding-top: 6em;}

.back2top-btn {
	position: fixed;
	right: 2em;
	bottom: 3em;
	display: none;
}

.back2top-btn a{
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}






/*** project main frame ***/
.title-space {
	padding-top: 5em;
	padding-bottom: 5em;
}

.tiny-space1 {
	margin-top: 3em;
}

.tiny-space2 {
	margin-bottom: .8em;
}

.text-align {
	text-align: justify;
}






.section-divider {
	margin-top: 5em;
	border-bottom: solid 1px #313843;
}




