/********************/
/***** homepage *****/
/********************/

/* intro */

.intro {
	height: 100vh;
}

/* project */

.project {
	position: relative;
	padding-top: 8em;
	padding-bottom: 8em;
}

.project-shadow {
	height: 35em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-shadow:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

.fittingeasy {
	padding-left: 2vh;
	padding-right: 2vh;
	padding-bottom: 2vh;
}

.wehome {
	padding-left: 2vh;
	padding-right: 2vh;
	padding-bottom: 2vh;
}

.project-img {
	height: 100vh;
}




.pic-shadow {
    box-shadow: 0 5px 20px 0 #d8d8d8;
}



/*******************/
/*** fittingeasy ***/
/*******************/





/***** about *****/

.about {
	position: relative;
	padding-top: 10em;
	padding-bottom: 10em;
}

.contact-icons {font-size: 2.5em;}



/***** project *****/

/* section */

.title-pic {padding-bottom: 5em;}



.pic-space {
	margin-top: 1em;
}

.pic-bottom-space {
	margin-bottom: 1em;
}

/* button */

/*.button-section {
	padding-top: 3em;
	padding-bottom: 3em;
}

.fittingeasy-process {
	border-radius: 25px;
	border: solid 2px #1f8aef;
	color: #1f8aef;
	background-color: transparent;
}

.fittingeasy-process:hover {
	color: #fff;
	background-color: #1f8aef;	
}

.wehome-process {
	border-radius: 25px;
	border-color: #4a90e2;
	color: #4a90e2;
	background-color: transparent;
}

.wehome-process:hover {
	border-color: #4a90e2;
	color: #fff;
	background-color: #4a90e2;	
}*/

/* quote */

.fittingeasy-quote {
	font-style: italic;
	color: #1f8aef;
}

/* icon */

.icon-space {padding-bottom: 1em;}





















