/***** preloader *****/

.loader-wrapper {
  width: 148px; 
  height: 100px;  
  position: absolute;
  margin: -50px 0 0 -74px;
  left: 50%;
  top: 50%;
}

.loader {
	position: absolute;
	width:148px; 
  height: 100px; 
 	top: 0;
 	left: 0;
}

.loader::after {
	content: "";
	top: auto;
	position: absolute;
	display: block;
	animation: shadow 1.2s infinite linear;
	-webkit-animation: shadow 1.2s infinite linear;
	-moz-animation: shadow 1.2s infinite linear;
	bottom: 0em;
	left: 0;
	height: .25em;
	width: 1em;
	border-radius: 50%;
	background-color: #a78f0a;
	opacity: 0.3;
}

.roller,
.roller:last-child {
	width: 70px; 
	height: 70px; 
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: rollercoaster 1.2s infinite linear;
	-webkit-transform: rotate(135deg);
	-moz-animation: rollercoaster 1.2s infinite linear;
	-moz-transform: rotate(135deg);
	animation: rollercoaster 1.2s infinite linear;
	transform: rotate(135deg);
}

.roller:last-child {
	left: auto;
	right: 0;
	-webkit-transform: rotate(-45deg);
	-webkit-animation: rollercoaster2 1.2s infinite linear;
	-moz-transform: rotate(-45deg);
	-moz-animation: rollercoaster2 1.2s infinite linear;
	transform: rotate(-45deg);
	animation: rollercoaster2 1.2s infinite linear;
}

.roller::before,
.roller:last-child::before {
	content: ""; 
	display: block;
	width: 15px;
	height: 15px;
	background: #f9eb9e;
	border-radius: 50%;
}

@-webkit-keyframes rollercoaster { 
  0%    {-webkit-transform: rotate(135deg);}
  8%    {-webkit-transform: rotate(240deg);}
  20%   {-webkit-transform: rotate(300deg);}
  40%   {-webkit-transform: rotate(380deg);}
  45%   {-webkit-transform: rotate(440deg);}
  50%   {-webkit-transform: rotate(495deg); opacity: 1;}
  50.1% {-webkit-transform: rotate(495deg); opacity: 0;}
  100%{-webkit-transform: rotate(495deg); opacity: 0;}  
}

@-webkit-keyframes rollercoaster2 {
  0%    {opacity: 0;}
  49.9% {opacity: 0;}
  50%   {opacity:1;-webkit-transform: rotate(-45deg);}
  58%   {-webkit-transform: rotate(-160deg);}
  70%   {-webkit-transform: rotate(-240deg);}
  80%   {-webkit-transform: rotate(-300deg);}
  90%   {-webkit-transform: rotate(-340deg);}
  100%  {-webkit-transform: rotate(-405deg);}
}

@-webkit-keyframes shadow {
  0%   {opacity:.3; -webkit-transform: translateX(65px) scale(0.5,0.5);}
  8%   {-webkit-transform: translateX(30px) scale(2,2);}
  13%  {-webkit-transform: translateX(0px) scale(1.3,1.3);}
  30%  {-webkit-transform: translateX(-15px) scale(0.5,0.5); opacity: 0.1;}
  50%  {-webkit-transform: translateX(60px) scale(1.2,1.2); opacity: 0.3;}
  60%  {-webkit-transform: translateX(130px) scale(2,2); opacity: 0.05;}
  65%  {-webkit-transform: translateX(145px) scale(1.2,1.2);}
  80%  {-webkit-transform: translateX(120px) scale(0.5,0.5); opacity: 0.1;}
  90%  {-webkit-transform: translateX(80px) scale(0.8,0.8);}
  100% {-webkit-transform: translateX(60px); opacity: 0.3;}
}

/* Moz */

@-moz-keyframes rollercoaster {
  0%    { -moz-transform: rotate(135deg);}
  8%    { -moz-transform: rotate(240deg);}
  20%   { -moz-transform: rotate(300deg);}
  40%   { -moz-transform: rotate(380deg);}
  45%   { -moz-transform: rotate(440deg);}
  50%   { -moz-transform: rotate(495deg); opacity: 1;}
  50.1% { -moz-transform: rotate(495deg); opacity: 0;}
  100%  { -moz-transform: rotate(495deg); opacity: 0;}
}

@-moz-keyframes rollercoaster2 {
  0%    { opacity: 0;}
  49.9% { opacity: 0;}
  50%   { opacity:1; -moz-transform: rotate(-45deg);}
  58%   { -moz-transform: rotate(-160deg);}
  70%   { -moz-transform: rotate(-240deg);}
  80%   { -moz-transform: rotate(-300deg);}
  90%   { -moz-transform: rotate(-340deg);}
  100%  { -moz-transform: rotate(-405deg);}
}

@-moz-keyframes shadow {
  0%   { opacity:.3; -moz-transform: translateX(65px) scale(0.5,0.5);}
  8%   { -moz-transform: translateX(30px) scale(2,2);}
  13%  { -moz-transform: translateX(0px) scale(1.3,1.3);}
  30%  { -moz-transform: translateX(-15px) scale(0.5,0.5); opacity: 0.1;}
  50%  { -moz-transform: translateX(60px) scale(1.2,1.2); opacity: 0.3;}
  60%  { -moz-transform: translateX(130px) scale(2,2); opacity: 0.05;}
  65%  { -moz-transform: translateX(145px) scale(1.2,1.2);}
  80%  { -moz-transform: translateX(120px) scale(0.5,0.5); opacity: 0.1;}
  90%  { -moz-transform: translateX(80px) scale(0.8,0.8);}
  100% { -moz-transform: translateX(60px); opacity: 0.3;}
}

/* No-prefix */
@keyframes rollercoaster {
  0%    { transform: rotate(135deg);}
  8%    { transform: rotate(240deg);}
  20%   { transform: rotate(300deg);}
  40%   { transform: rotate(380deg);}
  45%   { transform: rotate(440deg);}
  50%   { transform: rotate(495deg); opacity: 1;}
  50.1% { transform: rotate(495deg); opacity: 0;}
  100%  { transform: rotate(495deg); opacity: 0;}
}

@keyframes rollercoaster2 {
  0%    { opacity: 0;}
  49.9% { opacity: 0;}
  50%   { opacity:1; transform: rotate(-45deg);}
  58%   { transform: rotate(-160deg);}
  70%   { transform: rotate(-240deg);}
  80%   { transform: rotate(-300deg);}
  90%   { transform: rotate(-340deg);}
  100%  { transform: rotate(-405deg);}
}

@keyframes shadow {
  0%   { opacity:.3; transform: translateX(65px) scale(0.5,0.5);}
  8%   { transform: translateX(30px) scale(2,2);}
  13%  { transform: translateX(0px) scale(1.3,1.3);}
  30%  { transform: translateX(-15px) scale(0.5,0.5); opacity: 0.1;}
  50%  { transform: translateX(60px) scale(1.2,1.2); opacity: 0.3;}
  60%  { transform: translateX(130px) scale(2,2); opacity: 0.05;}
  65%  { transform: translateX(145px) scale(1.2,1.2);}
  80%  { transform: translateX(120px) scale(0.5,0.5); opacity: 0.1;}
  90%  { transform: translateX(80px) scale(0.8,0.8);}
  100% { transform: translateX(60px); opacity: 0.3;}
}

#loader2 .roller{
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

#loader2::after{
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

#loader3 .roller{
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
} 

#loader3::after{
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

/***** snow *****/



/***** homepage *****/

.fittingeasy-a:hover {
	color: #3ac3ea; 
	text-decoration: none;
}

.wehome-a:hover {
	color: #00d100;
	text-decoration: none;
}

/* intro */

.intro {
	position: relative;
	padding-top: 7em;
	padding-bottom: 10em; 
}

/* project */

.project {
	position: relative;
	padding-top: 10em;
	padding-bottom: 20em;
}

.hovereffect {
 /* width: 100%;
  height: 100%;*/
  float: left;
  /*overflow: scroll;*/
  /*position: relative;*/
  /*text-align: center;*/
}

.overlay {
	position: absolute;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	background-color: rgba(0, 0, 0, 0.65);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform: scale(0,1);
}

.hovereffect:hover .overlay {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.hovereffect h2 {
	padding-top: 2em;
	padding-bottom: 1.5em;
	text-align: center;
	color: #fff;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

.hovereffect:hover h2 {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.hovereffect p {
	color: #fff;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.hovereffect:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}



/***** about *****/

.about {
	position: relative;
	padding-top: 10em;
	padding-bottom: 10em;
}

.contact-icons {font-size: 2.5em;}



/***** project *****/

/* section */

.title-pic {padding-bottom: 5em;}

.title-space {
	padding-top: 3em;
	padding-bottom: 1em;
}

.subtitle-space {padding-bottom: 1em;}

.subtitle-underline {
	padding-bottom: .2em;
	border-bottom: .1em solid;
}

.pic-space {
	padding-top: 2em;
	padding-bottom: 2em;
}

.top-space {padding-top: 2em;}

.bottom-space {padding-bottom: 1em;}

/* button */

.button-section {
	padding-top: 2em;
	padding-bottom: 2em;
}

.fittingeasy-process {
	border-radius: 25px;
	border-color: #3ac3ea;
	color: #3ac3ea;
	background-color: transparent;
}

.fittingeasy-process:hover {
	border-color: #3ac3ea;
	color: #000;
	background-color: #3ac3ea;	
}

.wehome-process {
	border-radius: 25px;
	border-color: #00d100;
	color: #00d100;
	background-color: transparent;
}

.wehome-process:hover {
	border-color: #00d100;
	color: #000;
	background-color: #00d100;	
}

/* quote */

.fittingeasy-quote {
	font-style: italic;
	color: #3ac3ea;
}

/* icon */

.icon-space {padding-bottom: 1em;}














